# Node.js
node_modules/
frontend/node_modules/
frontend/build/

backend/models/*.h5

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.h5
*.tflite




# Environment files
.env

# macOS system files
.DS_Store

# IDE files
.vscode/
.idea/

# Logs
*.log

# Misc
__MACOSX/
